<div class="dialog-content">

  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row>
      <span class="title dialog-title">Detalle Articulo: {{data.CodigoRapido}}</span>
    </mat-toolbar-row>
  </mat-toolbar>


  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar >
    <form name="form" [formGroup]="form">

      <mat-card-content>

         <!-- <fuse-widget fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50" > -->
        <fuse-widget style="flex-direction: column;box-sizing: border-box;display: flex;flex: 1 1 100%;max-width: 100%;">
          <!-- Front -->
          <div class="fuse-widget-front mat-elevation-z2">
            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
              <div>
                <p align="left" class="text-color-negro"><b>{{data.NombreProd}}<br>C: {{data.Color}}, T:
                    {{data.Talla}}</b></p>
                <mat-divider></mat-divider>
              </div>

              <button mat-icon-button fuseWidgetToggle aria-label="more">
                <mat-icon>360</mat-icon>
              </button>
            </div>

            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
              <img class="CenterImageArticulo" src="{{data.CarpetaImagenes}}{{data.NombreImagen}}"
                alt="Articulo">
                <!-- PRODUCCION <img class="CenterImageArticulo" src="../../../../saved/assets/imagesAplicacion/{{data.NombreImagen}}"
                alt="Articulo">-->

            </div>
          </div>
          <!-- / Front -->

          <!-- Back -->
          <div class="fuse-widget-back p-16 pt-32 mat-elevation-z2">
            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
              <mat-icon class="s-16">360</mat-icon>
            </button>

            <div>
              <p align="left" class="text-color-negro"><b>DESCRIPCIÓN</b></p>
              <mat-divider></mat-divider>
              <br>
              <!--<p align="left" class="text-color-azul"><b>Cod Rápido: </b> {{data.CodigoRapido}}</p>-->
              <p align="left" class="text-color-azul"><b>Nombre: </b>{{data.NombreProd}}</p>
              <p align="left" class="text-color-azul"><b>C : </b>{{data.Color}} - <b>T : </b>{{data.Talla}}</p>
              <p align="left" class="text-color-azul"><b>Valor Unitario: </b>${{data.ValorUnitario}}</p>
              <p align="left" class="text-color-azul"><b>% Descuento: </b>{{data.PorcentajeDescuento}}%</p>
              <p align="left" class="text-color-azul"><b>Precio * Cantidad: </b>${{data.ValorUnitario*Cantidad}}</p>
              <p align="left" class="text-color-azul"><b>Precio Puntos: </b>{{(data.PrecioPuntos*Cantidad)}}</p>
              <p align="left" class="text-color-azul"><b>Precio Empresaria: </b>${{(data.PrecioEmpresaria*Cantidad)}}</p>
              <p align="left" class="text-color-azul"><b>Disponible: </b>{{data.Disponible}}</p>
            </div>

            <div>
              <div fxFlex="45" align="right">
                <button (click)="CalacularResta()" mat-icon-button color="accent">
                  <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">remove</mat-icon>
                </button>
              </div>
              <mat-form-field fxFlex="10">
                <input matInput placeholder="" formControlName="Cantidad" required [ngModel]="Cantidad" maxlength="2"
                  inputmode="numeric" pattern="[0-9]*" digitOnly (focusout)="CalcularTotales()">
              </mat-form-field>

              <div fxFlex="40" align="left">
                <button (click)="CalcularSuma()" mat-icon-button color="accent">
                  <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </div>
            </div>

          </div>
          <!-- / Back -->

        </fuse-widget>
      </mat-card-content>

      <mat-card-content>


        <div align="center">
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="favorite" matTooltip="Link Message">
              <mat-icon>favorite</mat-icon> Me Encanta
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>


      </mat-card-content>
    </form>

    <!--<div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" style="color: green">
      <br>
      <b>Costo de Envío:</b> $12.78<br>
    </div>-->

  </div>




  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="onAdicionarArticulo()" mat-raised-button color="accent" aria-label="Close">
      ADICIONAR A PEDIDO
    </button>
  </div>

</div>