<div _ngcontent-xhr-c118="" class="page-layout simple fullwidth">
  <div _ngcontent-xhr-c118="" class="content p-24">
    <div class="menuPedido">
      <button class="seleccionPaso" (click)="showEmpresaria = !showEmpresarias"> 
        {{ SelectedEmpresaria != null ?
         SelectedEmpresaria?.Nombre1 + ' ' + SelectedEmpresaria?.Apellido1
         + ' • ' + SelectedEmpresaria?.Nit : 'DATOS DE TU EMPRESARIA' }}</button>
      <button class="seleccionPaso">PRODUCTOS</button>
      <button class="seleccionPaso">DATOS DE ENVIO</button>
      <button class="seleccionPaso">PROCESAR PAGO</button>
    </div>
    <button class="registrar">REGISTRAR
    </button>
  </div>
  <!--  -->
  <div [style.display]="showEmpresaria ? 'block':'none'"
    [ngClass]="{'efectoEmpresariasOn' : showEmpresaria , 'efectoEmpresariasOff' : !showEmpresaria}"
    class="empresariasSeleccion">
    <div class="search-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escribe una Palabra">
      </mat-form-field>
      <mat-icon class="iconClose" (click)="closeSelectEmpresaria()">close</mat-icon>
    </div>

    <div>
      <mat-table #tableEmpresaria [dataSource]="dataSource" class="">
        <ng-container matColumnDef="imagenEmpresaria">
          <mat-cell *matCellDef="let row">
            <img class="mr-20" src="assets/images/appimages/empresarias.png">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="NombreCompleto">
          <mat-cell *matCellDef="let row"> {{row.NombreEmpresariaCompleto}}</mat-cell>
        </ng-container>
        <mat-header-row></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row" style="cursor: pointer"
          (click)="openDetalleCliente(row)">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>