:host {

    .content {
 
        

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}

form {
    width: 100%;
    max-width: 800px !important;
}

.form-errors-model {
    flex: 1;

    code {
        background: none !important;
    }
}

.icoLike
{
    width: 40px;
    height: 40px;
    background: #c84c43;
    font-size: 31px;
    padding-left: 9px;
    border-radius: 22px;
    cursor: pointer;
    color: white;
}
.headerback{
    width: 100%;
    justify-content: space-between !important;
    display: flex;
}