<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
    <div style="margin: 25px;">
        <div><img src="assets/images/NuevaColeccion.PNG"> </div>
        <div style="display: flex;
        margin-top: 6px;">
            <div><img src="assets/images/leftmain.PNG"></div>
            <div style="display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 5px;">
                <div><img src="assets/images/hacerpedido.PNG"></div>
                <div><img src="assets/images/verminegocio.PNG"></div>
                <div><img src="assets/images/descargarpassi.PNG"></div>
                <div><img src="assets/images/descargarglod.PNG"></div>
            </div>
        </div>
    </div>


</div>