<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="h1 mt-16">Pagina Principal</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <!--  <form class="mat-white-bg mat-elevaton-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                name="form" [formGroup]="form"> -->


            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
               
                    <div class="h2 mb-24">Pagina Principal</div>
                    <div >
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                           
                        </div>
               
                    <div class="icoLike" (click)="ReturnPage($event)">
                        <i class="material-icons">&#xE166;</i>
                    </div>
               
            </div>

            <div class="logo">
                <img src="assets/images/logos/imagenpagppal.png">
            </div>



            <!-- ************************************************************************** -->



            <!-- *********************************************************** -->

            <!--<button (click)="EnviarInfo()" mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                [disabled]="form.invalid">
                Enviar Información
            </button>
            <div fxLayout="row" *ngIf="SucceSave" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxFlex="100" style="color:#19611e">Registro Exitoso!</div>
            </div>-->

            <!-- </form>-->


            <!-- / CONTENT -->

        </div>
    </div>
</div>