@import "src/@fuse/scss/fuse";

fuse-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    > .mat-sidenav-container {
        display: flex;
        flex: 1;

        > .mat-sidenav-content,
        > .mat-drawer-content {
            display: flex;
            flex: 1;
            overflow: hidden;
            height: 100vh;

            @include media-breakpoint-down('sm') {
                height: auto !important;
            }

            #fuse-main-content {
                display: flex;
                flex: 1;
                flex-direction: column;
                overflow: hidden;

                #wrapper {
                    display: flex;
                    position: relative;
                    flex: 1;
                    overflow: hidden;

                    .content-wrapper {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        overflow: hidden;

                        fuse-content {
                            position: relative;
                            display: flex;
                            flex: 1;
                            flex-direction: row;
                            width: 100%;
                            overflow: hidden;

                            > *:not(router-outlet):not(.ps__scrollbar-x-rail):not(.ps__scrollbar-y-rail) {
                                display: flex;
                                flex: 1;
                                width: 100%;
                                min-width: 100%;
                            }

                            > *.ng-animating {

                                .mat-tab-body {
                                    height: 100vh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &[fuse-layout-mode="boxed"] {
        max-width: 1200px;
        margin: 0 auto;
        @include mat-elevation(8);
    }
   
}
.logogif {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 50000;
    background: #fbfafacc;
    flex-direction: column;
    align-self: center;
    justify-items: center;
    align-self: end;
}
.leongif{
    width: 64px;
    height: 58px;
    top: 125px;
    align-self: center;
    position: relative;
}
.spinnergif{
    width: 207px;
    height: 198px;
    align-self: center;
}
.subHeader
{
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px 4px 10px;
    border-top: solid 0.2px;
    border-bottom: solid 0.2px;
    z-index: 1000;
    .menus{
        display: flex;
        >div{
            margin: 0px 4px 0px 4px;
        }
    }
}