
<spiner *ngIf="data.spinerr"></spiner>

<div  [@simpleFadeAnimation]="jey">
  <h1 mat-dialog-title [ngStyle]="{'color': TextColor}">Creando Pedido.</h1>
</div>
<div *ngIf="!data.spinerr">
    <h1 mat-dialog-title [ngStyle]="{'color': TextColor}">{{data.Titulo}}</h1>
  <span layout="row">
    <hr flex />
    <div mat-dialog-content>
      <p [ngStyle]="{'color': TextColor}">{{data.Mensaje}}</p>
      <p [ngStyle]="{'color': TextColor}">{{data.FechaHora}}</p>
      <!--<mat-form-field>
        <input matInput [(ngModel)]="data.Mensaje">
      </mat-form-field>-->
    </div>
  
    
  </span>
  <div mat-dialog-actions>
    <!--<button mat-button (click)="onNoClick()">No Thanks</button> -->
    <button mat-button [mat-dialog-close]="data.Mensaje" (click)="onCloseClick()" cdkFocusInitial >Ok</button>
  </div>
</div>
