<div class="dialog-content">

  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row>
      <span class="title dialog-title">Detalle Pedido</span>
    </mat-toolbar-row>
  </mat-toolbar>

<br>
  
  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form name="form" [formGroup]="form">
      <mat-card class="example-card">

        
        <img class="CenterImageArticulo" src="../../../../assets/imagesNivi/detallepedido.PNG" alt="Detalle">
     
      </mat-card>
    </form>

    <!--<div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" style="color: green">
      <br>
      <b>Costo de Envío:</b> $12.78<br>
    </div>-->

  </div>




  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="onClose()" color="accent" aria-label="Close">
      CERRAR
    </button>
  </div>

</div>