@import "src/@fuse/scss/fuse";

.knowledgebase-article-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 720px;
    }

    .mat-dialog-container {
        padding: 0px;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
    
}

.example-card {
   
    width: 100%;
  }

  .CenterImageArticulo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120%; /*Tamaño de la imagen del articulo*/
    
  }



  .example-container {
    height: 300px;
    width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 0px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 0px solid #e0e0e0;
  }

th.mat-cell, th.mat-footer-cell, th.mat-header-cell {
  padding: 10;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}