<div class="dialog-content" >

  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row>
      <span class="title dialog-title">Detalle Pedido</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div>
    
  </div>
  <!--<div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

  <div class="example-container mat-elevation-z8">
      <ag-grid-angular 
     
      style="width: 450px; height: 200px;" 
      class="ag-theme-balham"
      [rowData]="rowData" 
      [columnDefs]="columnDefs" 
      [context]="this"   >
      </ag-grid-angular>
  </div>
  <ag-grid-angular 
    
  </div>
  <div>
      <ag-grid-angular       
      style="width: 31em; height: 200px;" 
      class="ag-theme-balham"
      [rowData]="rowData" 
      [columnDefs]="columnDefs" 
      [context]="this"   >
      </ag-grid-angular>  
  </div>-->

  <div style="display: flex; flex-direction: row">
    <div style=" overflow: hidden; flex-grow: 1">
      <ag-grid-angular
        #agGrid
        style="width: 100%; height: 200px;"
        id="myGrid"
        class="ag-theme-balham"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [context]="this"   
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </div>


    
</div>



  
</div>



<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      
  <button mat-button (click)="onClose()" mat-raised-button color="accent" aria-label="Close">
    Cerrar
  </button>
  &nbsp;&nbsp;&nbsp;
  <button mat-button (click)="openVerResumenPedido()" mat-raised-button
    style="background-color: green; color: white;">Enviar Pedido</button>

    
</div>

