<div class="dialog-content" >

  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row>
      <span class="title dialog-title">Detalle Pedido</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div>
    
  </div>
  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

  <div class="example-container mat-elevation-z8">
      <ag-grid-angular 
     
      style="width: 450px; height: 200px;" 
      class="ag-theme-balham"
      [rowData]="rowData" 
      [columnDefs]="columnDefs" 
      [context]="this"   >
      </ag-grid-angular>
  </div>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="onClose()" mat-raised-button color="accent" aria-label="Close">
      Cerrar
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button (click)="openVerResumenPedido()" mat-raised-button
      style="background-color: green; color: white;">Enviar Pedido</button>


  </div>

</div>

