<div class="dialog-content">

  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row>
      <span class="title dialog-title">Fecha: {{FechaHora}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <br>


  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form name="form" [formGroup]="form">
      <mat-card class="example-card">



        <mat-card-content>
          <div>
            <p align="center" style="color: rgba(195, 0, 255, 0.63);"><b>RESUMEN</b></p>
            <!--<p style="text-align: justify;">Elaborado en poliéster, algodón, elastano. SILUETA AJUSTADA.</p>-->
          </div>

          <div>
            <!-- Checkbox Column -->
            <td style="color:red">
              <mat-checkbox value="checked" (click)="changeValue(checked)" color="primary">
                PAGAR FLETE CON PUNTOS
              </mat-checkbox>
              <br />
            </td>

            <p><b>Nit:</b> {{data.Nit}}</p>
            <p> {{data.NombreEmpresaria}}</p>
            <p><b>Precio Cat:</b> ${{data.TotalPrecioCatalogo}}</p>
            <p><b>Precio Emp:</b> ${{data.PrecioEmpresariaTotal}}</p>
            <p><b>Cant. Articulos:</b> {{data.CantidadArticulos}}</p>
            <p><b>Precio Puntos:</b> {{data.PrecioPuntosTotal}}</p>
            <p><b>Tus Puntos:</b> {{data.TusPuntos}}</p>

            <div>
              <p><b><br>Puntos Usar:</b> &nbsp;&nbsp; <mat-form-field fxFlex="15">
                  <input matInput placeholder="" formControlName="txt_PuntosUsar" required [ngModel]="txt_PuntosUsar"
                    maxlength="5" inputmode="numeric" pattern="[0-9]*" digitOnly (change)="CalcularTotalPagar()">
                </mat-form-field>

              </p>

            </div>

            <p><b>Total Pagar:</b> ${{data.TotalPagar}}</p>
            <p><b>% Pts:</b> {{data.DescuentoPts}}%</p>
            <p><b>Ganaras:</b> {{PuntosGanadosCalculo}} puntos</p>
            <p align="center" style="color: red;"><b>{{data.MensajeError}}</b></p>
          </div>

        </mat-card-content>


      </mat-card>


      <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <!--<button mat-button (click)="onClose()" color="accent" aria-label="Close">
            CERRAR
          </button>-->
        &nbsp;&nbsp;&nbsp;
        <button mat-button (click)="ConfirmData()" mat-raised-button style="background-color: green; color: white;"
          [disabled]="form.invalid || SaveInProgress">Reservar Pedido</button>
      </div>

    </form>

    <!--<div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" style="color: green">
      <br>
      <b>Costo de Envío:</b> $12.78<br>
    </div>-->

  </div>






</div>