<div class="dialog-content">

  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row>
      <span class="title dialog-title">Resumen Pedido</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <br>


  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form name="form" [formGroup]="form">
      <mat-card class="example-card">



        <mat-card-content>
          <div>
            <p align="center" style="color: red;"><b>RESUMEN</b></p>
            <!--<p style="text-align: justify;">Elaborado en poliéster, algodón, elastano. SILUETA AJUSTADA.</p>-->
          </div>

          <div>
            <p><b>Numero:</b>  {{data.Numero}}</p>
            <p><b>Nit:</b> {{data.Nit}}</p>
            <p><b>Empresaria:</b> {{data.NombreEmpresaria}}</p>
            <p><b>P. Emp:</b> ${{data.Valor}}</p>
            <p><b>P. Cat:</b> ${{data.TotalPrecioCatalogo}}</p>
            <p><b>Portal:</b> {{data.Portal}}</p>
            <p><b>Zona:</b> {{data.Zona}}</p>
            <p><b>Campana:</b> {{data.Campana}}</p>
            <p><b>Catalogo:</b> {{data.GrupoCatalogo}}</p>
            <p><b>Fecha:</b> {{data.FechaCreacion}}</p>

          </div>

        </mat-card-content>


      </mat-card>
    </form>

    <!--<div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" style="color: green">
      <br>
      <b>Costo de Envío:</b> $12.78<br>
    </div>-->

  </div>




  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="onClose()" color="accent" aria-label="Close">
      CERRAR
    </button>
  </div>

</div>