<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="h1 mt-16">Mi Cartera</div>
           
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24 mat-white-bg">


       
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escribe una Palabra">
            </mat-form-field>
        </div>

        <div class="example-container mat-elevation-z8">

            <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- ID Column 
                <ng-container matColumnDef="Zona">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Zona</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Zona}}</mat-cell>
                </ng-container>
                 <ID Column -->
                 <ng-container matColumnDef="Codigolider">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Lider</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Codigolider}}</mat-cell>
                </ng-container>
                  <!-- Progress Column -->
                  <ng-container matColumnDef="Lider">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Lider</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Lider}}</mat-cell>
                </ng-container>
                <!-- Progress Column -->
                <ng-container matColumnDef="Saldo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Saldo}}</mat-cell>
                </ng-container>

                
               

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"  class="example-element-row"
                (click)="openResumenPedido(row)"
                >
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>