<div class="dialog-content">

  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row>
      <span class="title dialog-title">Información Envío:</span>
    </mat-toolbar-row>
  </mat-toolbar>




  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

    <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">

      <mat-form-field fxFlex="100" *ngIf="visibleMensajeError">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <div style="color: red; font-weight: bold;">DEBE INGRESAR EL DOCUMENTO <br> DE LA EMPRESARIA</div>
        </div>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-select placeholder="Despachar A:" formControlName="DespacharA" [(ngModel)]="DespacharASeleccionado"
          (selectionChange)="SelectedDespacharA($event)" required>
          <mat-option *ngFor="let Item of ListDespachar" [value]="Item.IdTipoEnvio">
            {{ Item.Nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formErrors.DespacharA.required">
          Despachar A es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" *ngIf="visibleLocalizacion">
        <mat-select placeholder="Provincia" formControlName="Provincia" [(ngModel)]="ProvinciaSeleccionado"
          (selectionChange)="SelectedProvincia($event)" required>
          <mat-option *ngFor="let Item of ListProvincia" [value]="Item.CodEstado">
            {{ Item.NombreEstado }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formErrors.Provincia.required">
          Provincia es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" *ngIf="visibleLocalizacion">
        <mat-select placeholder="Canton" formControlName="Canton" [(ngModel)]="CantonSeleccionado"
          (selectionChange)="SelectedCanton($event)" required>
          <mat-option *ngFor="let Item of ListCanton" [value]="Item.CodCiudad">
            {{ Item.NombreCiudad }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formErrors.Canton.required">
          Canton es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" *ngIf="visibleLocalizacion">
        <mat-select placeholder="Parroquia" formControlName="Parroquia" [(ngModel)]="ParroquiaSeleccionado"
          (selectionChange)="SelectedParroquia($event)" required>
          <mat-option *ngFor="let Item of ListParroquia" [value]="Item.Codigo">
            {{ Item.NombreParroquia }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formErrors.Parroquia.required">
          Parroquia es requerido
        </mat-error>
      </mat-form-field>

      <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" style="color: green">
        <br>
        <b>Costo de Envío:</b><br> ${{data.ValorFlete}}<br>
        <br>
      </div>

      <mat-form-field fxFlex="100">
        <input matInput placeholder="Telefono" formControlName="Telefono" required [ngModel]="TelefonoSeleccionado"
          maxlength="11" inputmode="numeric" pattern="[0-9]*" digitOnly>

      </mat-form-field>

      <mat-form-field fxFlex="100" *ngIf="visibleLocalizacion">
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
          <textarea rows="3" matInput placeholder="Dirección" [(ngModel)]="DireccionSeleccionado"
            formControlName="Direccion"></textarea>
        </div>

      </mat-form-field>

    </form>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="onClose()" *ngIf="visibleGuardar" [disabled]="form.invalid || SaveInProgress" class="mat-accent"
      aria-label="Close">
      GUARDAR
    </button>
  </div>

</div>