<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="h1 mt-16">Empresarias Posibles Egresos</div>
           
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24 mat-white-bg">


       
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escribe una Palabra">
            </mat-form-field>
        </div>

        <div class="example-container mat-elevation-z8">

            <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- ID Column -->
                <ng-container matColumnDef="Documento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Documento</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Nit}}</mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="NombreCompleto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.NombreEmpresariaCompleto}}</mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="Celular1">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Celular</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Celular1}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="NombreEstadosCliente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado Empresaria</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.NombreEstadosCliente}}</mat-cell>
                </ng-container>
               

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"  class="example-element-row"
                (click)="openDetalleCliente(row)"
                >
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>