@import "src/@fuse/scss/fuse";

.knowledgebase-article-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 720px;
    }

    .mat-dialog-container {
        padding: 0px;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
  
}
.containerData{
    & > div{
        display: flex;
        justify-content: space-between;
        padding: 4px 0px 4px 0px;
        & > div  {
            margin-right: 10px;
        }
        & > div:nth-child(2)  {
            text-align: right;
        }
        
    }
    & > div:nth-child(odd){
        background: #f0f0f0;
    }
    & > div:nth-child(even){
        background: white;
    }
    
}